@using QuienEsQuien.Models
@{
    ViewBag.Title = "ABM_Personajes";
}
<head>
    <link href="~/Styles/Estilos1.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Cosa.css" rel="stylesheet" />
    <link href="~/Styles/Tables.css" rel="stylesheet" />
</head>
<body class="w3-black">
    <div class="w3-padding-large" id="main">

        <center><h2>ABM Personajes</h2></center>
        <br />
        <p>@ViewBag.BajaPersonaje</p> 
        <h3>@Html.ActionLink("Ingresar Personaje", "EdicionPersonaje", "BackOffice", new { Accion = "Insertar" }, null);</h3>

        <table align="center" bordercolor="Black" width="350px">
            <tr style="background-color:#222222">
                <td><center><h2><b>Imagen</b></h2></center></td>
                <td><center><h2><b>Nombre</b></h2></center></td>
                <td><center><h2><b>Modificar</b></h2></center></td>
                <td><center><h2><b>Eliminar</b></h2></center></td>
                <td><center><h2><b>Ver</b></h2></center></td>
                <td><center><h2><b>Preguntas</b></h2></center></td>
            </tr>
            @foreach (Personajes MiPersonaje in ViewBag.Lista)
            {

            <tr>
                <td>
                    <img src="~/Content/@MiPersonaje.Imagen" alt="Foto Personaje" class="img-rounded"
                         style="width: 100px;
                                 height: 100px;
                    " />
                </td>
                <td>
                    <h3><b>@MiPersonaje.Nombre</b></h3>
                </td>
                <td class="Centrado">
                    <h3> @Html.ActionLink("M", "EdicionPersonaje", "BackOffice", new { Accion = "Modificar", ID = MiPersonaje.IdPersonaje }, null)</h3>
                </td>
                <td class="Centrado">
                    <h3> @Html.ActionLink("V", "EdicionPersonaje", "BackOffice", new { Accion = "Ver", ID = MiPersonaje.IdPersonaje }, null)</h3>
                </td>
                <td class="Centrado">
                    <h3> @Html.ActionLink("E", "EdicionPersonaje", "BackOffice", new { Accion = "Eliminar", ID = MiPersonaje.IdPersonaje }, null)</h3>
                </td>
                <td class="Centrado">
                    <h3> @Html.ActionLink("P", "Personajes_Pregunta", "BackOffice", new {Accion= "Preguntas", ID = MiPersonaje.IdPersonaje, Nombre = MiPersonaje.Nombre, IdCategoria = MiPersonaje.IdCategoria }, null)</h3>
                </td>

            </tr>
            }
        </table>
    </div>
</body>
