@using QuienEsQuien.Models
@{
    ViewBag.Title = "ABM Preguntas";
}
<head>
    <link href="~/Styles/Estilos1.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Cosa.css" rel="stylesheet" />
    <link href="~/Styles/Tables.css" rel="stylesheet" />
</head>
<body class="w3-black">
    <div class="w3-padding-large" id="main">

        <center><h2>ABM Preguntas</h2></center>
        <p>@ViewBag.BajaPreguntas</p> <br />
        <h3>@Html.ActionLink("Ingresar Pregunta", "EdicionPregunta", "BackOffice", new { Accion = "Insertar" }, null)</h3>
        @if (ViewBag.Error == null)
        {
            <br />
        }
        <h5 style="color:red">@ViewBag.Error</h5>
        <table align="center" bordercolor="Black">
            <tr style="background-color:#222222">
                <td><center><h2><b>Pregunta</b></h2></center></td>
                <td><center><h2><b>Modificar</b></h2></center></td>
                <td><center><h2><b>Eliminar</b></h2></center></td>
                <td><center><h2><b>Ver</b></h2></center></td>
            </tr>
            @foreach (Preguntas MiPregunta in ViewBag.Lista)
            {
                <tr>
                    <td>
                        <h3 style="margin-left:10px"><b>@MiPregunta.Texto</b></h3>
                    </td>
                    <td class="Centrado">
                        <h3> @Html.ActionLink("M", "EdicionPregunta", "BackOffice", new { Accion = "Modificar", ID = MiPregunta.IdPregunta }, null)</h3>
                    </td>
                    <td class="Centrado">
                        <h3> @Html.ActionLink("E", "EdicionPregunta", "BackOffice", new { Accion = "Eliminar", ID = MiPregunta.IdPregunta }, null)</h3>
                    </td>
                    <td class="Centrado">
                        <h3> @Html.ActionLink("V", "EdicionPregunta", "BackOffice", new { Accion = "Ver", ID = MiPregunta.IdPregunta }, null)</h3>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>