@using QuienEsQuien.Models
@{
                /**/

                ViewBag.Title = "ABM_Categorias";
}
<head>
    <link href="~/Styles/Estilos1.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Cosa.css" rel="stylesheet" />
    <link href="~/Styles/Tables.css" rel="stylesheet" />
</head>
<body class="w3-black">
    <div class="w3-padding-large" id="main">

        <center><h2>ABM Categorías</h2></center><br />

        <p>@ViewBag.BajaCategoria</p> 
        <h3>@Html.ActionLink("Ingresar Categoria", "EdicionCategoria", "BackOffice", new { Accion = "Insertar" }, null)</h3>

        <table align="center" bordercolor="Black" width="350px">
            <tr style="background-color:#222222">
                <td><center><h2><b>Categoría</b></h2></center></td>
                <td><center><h2><b>Modificar</b></h2></center></td>
                <td><center><h2><b>Eliminar</b></h2></center></td>
                <td><center><h2><b>Ver</b></h2></center></td>
            </tr>
            @foreach (Categorias MiCategoria in ViewBag.Lista)
            {
                <tr>
                    <td>
                        <h3><b>@MiCategoria.Nombre</b></h3>
                    </td>
                    <td class="Centrado">
                        <h3> @Html.ActionLink("M", "EdicionCategoria", "BackOffice", new { Accion = "Modificar", ID = MiCategoria.IdCategoria }, null)</h3>
                    </td>
                    <td class="Centrado">
                        <h3> @Html.ActionLink("E", "EdicionCategoria", "BackOffice", new { Accion = "Eliminar", ID = MiCategoria.IdCategoria }, null)</h3>
                    </td>
                    <td class="Centrado">
                        <h3> @Html.ActionLink("V", "EdicionCategoria", "BackOffice", new { Accion = "Ver", ID = MiCategoria.IdCategoria }, null)</h3>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
