@using QuienEsQuien.Models
@model Preguntas
@using System.Linq;
@{
    ViewBag.Title = "FinPregunta";
}

<head>
    <link href="~/Styles/Estilos1.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Cosa.css" rel="stylesheet" />
    <link href="~/Styles/Buttons.css" rel="stylesheet" />
</head>
<body class="w3-black">
    <div class="w3-padding-large" id="main">
        <center><h2>@ViewBag.Accion</h2></center>
        @using (Html.BeginForm("CosasAPregunta", "BackOffice", FormMethod.Post))
        {
            if (ViewBag.Accion == "Ver")
            {
                <br />
                <pr>Pregunta</pr> @Html.TextBoxFor(x => x.Texto, new { disabled = "disabled", style = "margin-left:7px;margin-bottom:10px" }) <br />
                <pr>Categoría</pr> <input type="text" value="@ViewBag.Categoria" disabled="disabled" style="width:192px;height:28px;margin-left:5px" /> <br />
                <input type="hidden" name="tCate" value="0" />
            }
            else if (ViewBag.Accion == "Modificar")
            {
                if (ViewBag.Error == null)
                {
                    <br />
                }
                <h5 style="color:red">@ViewBag.Error</h5>
                <pr>Pregunta</pr> @Html.TextBoxFor(x => x.Texto, new { style = "margin-left:7px;margin-bottom:10px" }) <br />
                <pr>Categoría</pr>
                <select name="tCate" style="width:192px;height:28px;margin-left:5px">
                    @foreach (Categorias cate in ViewBag.Categorias)
                    {
                        if (cate.IdCategoria == ViewBag.PreguntaNow_cate)
                        {
                            <option selected value="@cate.IdCategoria">@cate.Nombre</option>
                        }
                        else
                        {
                            <option value="@cate.IdCategoria">@cate.Nombre</option>
                        }
                    }
                </select> <br />
            }
            else if (ViewBag.Accion == "Insertar")
            {
                <h5 style="color:red">@ViewBag.Error</h5>
                <pr>Pregunta</pr> @Html.TextBoxFor(x => x.Texto, new { style = "margin-left:7px;margin-bottom:10px" }) <br />
                <pr>Categoría</pr>
                <select name="tCate" style="width:192px;height:28px;margin-left:5px">
                    @if (ViewBag.CategoriaNow == null)
                    {
                        <option selected value="-1">Categorías:</option>
                    }
                    @foreach (Categorias cate in ViewBag.Categorias)
                    {
                        if (ViewBag.CategoriaNow != null)
                        {
                            if (ViewBag.Contador == 0)
                            {
                                <option selected value="@ViewBag.CategoriaNow.IdCategoria">@ViewBag.CategoriaNow.Nombre</option>
                                @(ViewBag.Contador = 1)
                            }
                            if (ViewBag.CategoriaNow.Nombre != cate.Nombre)
                            {
                                <option value="@cate.IdCategoria">@cate.Nombre</option>
                            }
                        }
                        else
                        {
                            <option value="@cate.IdCategoria">@cate.Nombre</option>
                        }
                    }
                </select> <br />
            }
                <input type="hidden" name="Accion" value=@ViewBag.Accion />
                <input type="hidden" name="Id" value=@ViewBag.Id />
                <br />
                <button class="button black" style="margin-left:161px">Siguiente</button>
        }
    </div>
</body>