@{
    ViewBag.Title = "Perfil";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Cosa.css" rel="stylesheet" />
</head>
<body class="w3-black">
    <div class="w3-padding-large" id="main">
        <center><h1>Perfil</h1></center>
        <h3>Datos de de perfil:</h3> <br />
        <ul>
            <li>Nombre: @ViewBag.Usuario.Nombre</li>
            <li>Bitcoins actuales: @ViewBag.Usuario.Bitcoins</li>
            <li>Bitcoins máximos: @ViewBag.Usuario.MaxBitcoins</li>
            <li>Partidas jugadas: @ViewBag.Usuario.PartidasJugadas</li>
            <li>Partidas ganadas: @ViewBag.Usuario.PartidasGanadas</li>
            <li>Partidas perdidas: @(ViewBag.Usuario.PartidasJugadas - ViewBag.Usuario.PartidasGanadas)</li>
            @if (ViewBag.Usuario.PartidasJugadas == 0)
            {
                <li>Porcentaje de partidas ganadas: 0%</li>
            }
            else
            {
                <li>Porcentaje de partidas ganadas: @((ViewBag.Usuario.PartidasGanadas * 100) / ViewBag.Usuario.PartidasJugadas)%</li>
            }
        </ul>
    </div>
</body>